:root {
	--clr-neon-link: rgb(57,255,20);
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
	grid-template-areas: "page_top"
	"logo"
	"cowboy_up"
	"declarations"
	"constitutions"
	"historical";

	justify-items: center;

}

header .page_top {
	grid-area: page_top;

}

.page_top {
	background-color: #3f1306;
	color: #666;

}

.logo {
	grid-area: logo;

}

.cowboy_up {
	grid-area: cowboy_up;
}

.declarations {
	grid-area: declarations;
	background-color: var(--clr-neon-link);
	color: #666;

}

.constitutions {
	grid-area: constitutions;
	background-color: #000;
	color: #666;
}

.historical {
	grid-area: historical;
	background-color: #aaa;
	color: var(--clr-neon-link);

}
