@media only screen and (min-width: 600px)   {
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/*grid-template-rows: auto;*/
		grid-gap: 10px;
		grid-template-areas:
		"page_top page_top page_top"
		"cowboy_up cowboy_up cowboy_up"
		"nav_principal declarations declarations"
		"nav_principal constitutions constitutions"
		"nav_principal annexations annexations"
		"nav_principal historical_laws historical_laws"
		"nav_principal historical_economies historical_economies";


		/*justify-items: center;*/

	}

}
