/*@media only screen and (min-width: 600px)   {*/
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/*grid-template-rows: auto;*/
		grid-gap: 10px;
		grid-template-areas:
		"page_top page_top page_top"
		"cowboy_up cowboy_up cowboy_up"
		"declarations declarations declarations"
		"constitutions constitutions constitutions"
		"annexations annexations annexations"
		"historical_laws historical_laws historical_laws"
		"nav_principal nav_principal nav_principal";


		/*justify-items: center;*/

	}

/*}*/
