:root {
	--clr-neon-link: rgb(57,255,20);
}

body {
	display: grid;
	grid-template-columns: 1fr;
	/*	grid-row-gap: 10px;*/
	grid-template-areas: "page_top"
	"cowboy_up"
	"declarations"
	"constitutions"
	"historical_laws"
	"historical_economies"
	"nav_principal";


	justify-items: center;

}

header .page_top {
	grid-area: page_top;
	padding: 5px;


}

.page_top {
/*	color: hsla(360, 100%, 50%, 1);*/
	color: hsla(17, 100%, 58%, 1);

}

.title_logo {
	text-align: center;

}

.main_page_title {
	padding-bottom: 4px;
	color: yellow;
}

/*
 * Use for non home page page titles
 *
 * .page_intro {
 *	 text-align: center;
 *   color: hsla(360, 100%, 50%, 1);
 * }
*/

.document_class {
	text-align: center;
	color: hsla(360, 100%, 50%, 1);
}

.cowboy_up {
	grid-area: cowboy_up;
	padding: 5px;
	background: hsla(37, 100%, 59%, 1);
}

.declarations {
	grid-area: declarations;
	padding: 5px;
	background-color: hsla(0, 0%, 0%, 1);
	color: hsla(43, 100%, 62%, 1);

}

.constitutions {
	grid-area: constitutions;
	padding: 5px;
	background-color: hsla(0, 0%, 0%, 1);
	color: hsla(43, 100%, 62%, 1);
}

/*.historical {
	grid-area: historical;
	padding: 5px;

	background-color: hsla(0, 0%, 0%, 1);
	color: hsla(43, 100%, 62%, 1);

}*/

.historical_laws {
	grid-area: historical_laws;
	padding: 5px;
	background-color: hsla(0, 0%, 0%, 1);
	color: hsla(43, 100%, 62%, 1);
}

.historical_economies {
	grid-area: historical_economies;
	padding: 5px;
	background-color: hsla(0, 0%, 0%, 1);
	color: hsla(43, 100%, 62%, 1);
}

.nav_principal {
	grid-area: nav_principal;
	padding: 5px;
	background-color: hsla(0, 0%, 0%, 1);
	color:  var(--clr-neon-link);
}

.normal_links {
text-decoration: none;
background: hsla(0, 0%, 0%, 1);
color: hsla(332, 75%, 42%, 1);/*hsla(304, 75%, 67%, 1);*/
}

.normal_links:hover {
text-decoration: none;
background: hsla(304, 75%, 67%, 1);
color: hsla(0, 0%, 0%, 1);
}

.nav_principal_list {
background: hsla(238, 93%, 28%, 1);
list-style-type: none;
padding: 4px;
font-size: 1.2rem;
line-height: 1.5rem;
}

.nav_links {
	font-weight: 800;
text-decoration: none;
padding: 5px;
color: hsla(360, 100%, 100%, 1);
}

.nav_links:hover {
text-decoration: none;
color: hsla(59, 100%, 73%, 1);
}



/*.nothing {
	grid-area: nothing;
	padding: 5px;

	background-color: hsla(0, 0%, 0%, 1);
	color: var(--clr-neon-link);

}*/
